@import "utils"

#courses
	margin: 10px
	.form
		margin-bottom: 10px
		position: relative
		.goshop
			position: absolute
			top: 2px
			right: 15px
	li 
		list-style: none
		.title
			font-size: 18px
			line-height: 1.5
		.info
			font-size: 14px
		.action
			position: absolute
			right: 15px
			top: 13px
		.content
			overflow: auto
			line-height: 1.5
			b 
				color: #ff2f4f
				cursor: pointer
				padding: 0 5px
			i
				color: #3f94ff
			b.selected
				background: #333
				@include text-shadow-field
				@include round(5px)
		.tips
			margin-top: 10px
