@import "utils"

body.olive
	background: url(/assets/img/bg/bg_home.png) #DBEED5
	#container
		position: relative
		height: 100%
		min-height: 400px
		aside
			position: fixed
			top: 0
			left: 0
			width: 86px
			height: 100%
			color: #DDD
			z-index: 99
			border-right: 1px solid #000
			@include fibre
			a.brand
				display: block
				@include text-shine
				font-size: 26px
				text-align: center
				line-height: 56px
			ul#side_nav
				margin: 0
				padding: 0
				
				li 
					list-style-type: none
					margin: 0
					padding: 24px 5px
					text-align: center
					position: relative
					cursor: pointer
					i
						position: absolute
						top: 50%
						margin-top: -10px
						right: -1px
						opacity: 0
					&:hover
						color: #fff
				li.active
					@include text-shine
					i 
						opacity: 1
						@include triangle(20px,#eee,left)
		article
			margin-left: 86px
			position: relative
			height: 100%
			#quotes
				nav 
					@include fibre
					position: fixed
					top: 0
					z-index: 500
					margin-left: 1px
					ul 
						margin: 0
						padding: 0
						font-size: 16px
						font-weight: bold
						li 
							list-style-type: none
							margin: 0
							display: table-cell
							width: 1%
							text-align: center
							position: relative				
							color: white
							border-right: 1px solid #000
							border-left: 1px solid #777
							a 
								padding: 17px 0
								color: white
								display: block
						li.active
							@include text-shine

				.alert
					margin-bottom: 10px
				.block
					padding: 10px
				#tag_list
					margin-top: 60px
					
				#quote_list
					.quote
						padding: 10px 0
						border-bottom: 3px solid #333				
						.tags 
							margin-top: 10px