@import "utils"

body.olive
	background: url(/assets/img/bg/bg_home.png) #DBEED5
	#container
		position: relative
		height: 100%
		min-height: 400px
		aside
			position: fixed
			top: 0
			left: 0
			width: 86px
			height: 100%
			color: #DDD
			z-index: 99
			@include fibre
			a.brand
				display: block
				@include text-shine
				font-size: 26px
				text-align: center
				line-height: 56px
			ul#side_nav
				margin: 0
				padding: 0				
				li 
					list-style-type: none
					margin: 0
					padding: 24px 5px
					text-align: center
					position: relative
					cursor: pointer
					i
						position: absolute
						top: 50%
						margin-top: -10px
						right: 0
						opacity: 0
					&:hover
						color: #fff
				li.active
					@include text-shine
					i 
						opacity: 1
						@include triangle(20px,#eee,left)
		article
			margin-left: 86px
			position: relative
			height: 100%
			.alert
				margin-bottom: 10px
			.block
				padding: 10px
			.form
				margin-top: 10px
			#courses
				nav 
					.new
						position: absolute
						right: 10px
						top: 3px
				li 
					list-style: none
					position: relative
					.title
						font-size: 18px
						line-height: 1.5
					.u_at
						font-size: 14px
					.action
						position: absolute
						right: 10px
						top: 8px
						.label
							padding: 10px
						span
							font-size: 20px
					.tags
						margin-top: 10px
						padding-left: 10px
						border-left: 4px solid #3a7ced
					.content
						line-height: 1.5
						div
							margin: 10px 0
							//text-indent: 20px
						b 
							color: #ff2f4f
						i
							color: #3f94ff
			#quotes
				#quote_list