@import "utils"

#dashboard
	#widgets
		margin: 10px
		.form
			margin-bottom: 10px
		#song
			.banner
				width: 50%
				height: 100px
				position: relative
				overflow: hidden
				.title
					font-size: 22px
					line-height: 2
				.artist
					font-size: 30px
				.action
					font-size: 60px
					position: absolute
					top: 50%
					right: 25px
					margin-top: -34px
					@include transition(all,0.8s)
					@include transform(translateX(230px))	
					span
						display: inline-block
						width: 70px
						cursor: pointer
					span:hover
						color: #6fb5e8