#container
	%aside
		%a.brand.dancer(href="/")
			17up
		%ul#side_nav
			%li(rel = '')
				%span.icon-quote-left
				%div
					Quote
				%i
	%article	
		= render "shared/flash_message"
- content_for :footer do
	#init.hide(data-js="Olive")