= render "shared/flash_message"
%nav.clearfix
	.nav-item.right
		%a.active{:href => "/account"}
			%span.button.xs.glossy(data-icon=' ')
				%i.icon-cogs

- content_for :footer do
	:javascript
		new Dashboard()