= render "shared/flash_message"
%nav.clearfix
	= render 'shared/uploader',:url => "/members/upload_avatar",:type => "image"
	.avatar.left(title="点我更换头像")		
		= image_tag current_member.avatar
		%i.icon-upload-alt
	.name.left
		= current_member.name
	.brand.dancer
		17up
	.nav-item.right
		%a.active(href = "/")
			%span.button.green.xs.glossy(data-icon=' ')
				%i.icon-dashboard
		%a.active(href = "/members/sign_out" data-method="delete" rel="nofollow")
			%span.button.xs.glossy(data-icon=' ')
				%i.icon-off
#container
	%aside
		%ul#side_nav
			%li(rel = 'account')
				%span.icon-link
				%div
					帐户
				%i
			%li(rel = "achieve")
				%span.icon-trophy
				%div
					成就
				%i
			%li(rel = "genius")
				%span.icon-heart
				%div
					喜好
				%i
	%article			
		
- content_for :footer do
	#init.hide(data-js="Setting")